<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Informes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Mensagens administrativas
    </ion-list-header>

    <ion-item *ngFor="let message of messages" (click)="view(message.id)">
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-yoda.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ message.title }}</h2>
        <p>{{ message.created_at }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
